/*
TODO If your question type requires some CSS, you can put it in this file.
If not, you should delete this file.
*/

.feedbackok{
	border-color:#B9F9BB;
}

.feedbackmissed{
	border-color:#FBBAB7;
}

.spliset.c0{
background-color:#B9BEC4;
}

.spliset.c1{
background-color:#CACED2;
}